.footer {
  color: white;
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 450px) {
  .footer {
    font-size: 1.2rem;
  }
}

@media (max-width: 449px) {
  .footer {
    font-size: 1rem;
  }
}

.footer p {
  margin-right: 2rem;
}

.dark-blue {
  background: rgb(0, 0, 201);
}
